<div class="my-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">New Annotation</h4>
    </div>
    <div class="modal-body">
        <div class="wrap-text wrap-info-modal">
            <div class="title-text">
                Text
            </div>
            <div class="content-text">
                Nhật ký
            </div>
        </div>

        <div class="wrap-entity wrap-info-modal">
            <div class="title-text">
                Entity type
            </div>
            <div class="content-text">
                <div class="radio radio-primary">
                    <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                    <label for="radio1">
                        Small
                    </label>
                </div>
                <div class="radio radio-primary">
                    <input type="radio" name="radio1" id="radio2" value="option2">
                    <label for="radio2">
                        Big
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="cancel()">OK</button>
    </div>
</div>
