<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>underthesea</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">-->
    <link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="static/css/style-vis.css">
    <link rel="stylesheet" type="text/css" href="static/css/ner.css">
    <link rel="stylesheet" type="text/css" href="static/css/sa.css">
    <link rel="stylesheet" type="text/css" href="static/css/ui.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">underthesea<sup>
                <span id="live-label" class="label label-success">
                    <span id="live-icon">•</span> demo</span>
            </sup></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Word Segmentation</a></li>
                <li class="active"><a href="pos_tag.html">POS Tag</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/magizbox/underthesea">
                        <i class="fa fa-github" aria-hidden="true"></i>
                        Github
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container" style="margin-top: 60px;">
    <h2 id="navs">Word Segmentation</h2>
    <hr/>
    <p><b>Text</b></p>
    <div class="form-group">
        <textarea class="form-control" row="5"
                  id="text">Nhật ký SEA Games ngày 21/8: Ánh Viên thắng giòn giã ở vòng loại</textarea>
    </div>
    <p class="text-center">
        <span class="btn btn-success" id="word_segmentation">Word Segmentation</span>
    </p>
    <b>Output</b><br/>
    <div id="output">
        <div class="visualize_word_sent" id="word_sent"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>

<script src="./static/js/data/data.js"></script>
<script src="./static/js/data/word_sent.js"></script>
<script src="./static/js/client/lib/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="./static/js/client/lib/jquery.svg.min.js"></script>
<script src="./static/js/client/lib/jquery.svgdom.min.js"></script>
<script src="./static/js/client/src/configuration.js"></script>
<script src="./static/js/client/src/annotation_log.js"></script>
<script src="./static/js/client/lib/webfont.js"></script>
<script src="./static/js/client/src/dispatcher.js"></script>
<script src="./static/js/client/src/url_monitor.js"></script>
<script src="./static/js/client/src/visualizer.js"></script>
<script src="./static/js/client/src/util.js"></script>
<script src="./static/js/brat.js"></script>
<script src="./static/js/ui.js"></script>
</body>
</html>