<p>Vietnamese Text Classification using fasttext</p>
<hr/>
<p>
  <b>Domain:</b>
  <span class="btn-group btn-group-xs" role="group"
        aria-label="Small button group">
    <button type="button"
            ng-repeat="domain in domains"
            class="btn"
            ng-class="{
              'btn-primary': domain == currentDomain
            }"
            ng-click="select(domain)">
      {{ domain }}
    </button>
  </span>
</p>
<p><b>Text</b></p>
<div class="form-group">
  <textarea class="form-control" rows="8" id="text" ng-model="text"></textarea>
</div>
<p class="text-center">
  <span class="btn btn-success" ng-click="do()">Classify</span>
</p>
<b>Output</b><br/>
<div id="output">
  <span class="label label-info"
        style="margin-right: 2px"
        ng-repeat="tag in tags">
    {{ tag }}
  </span>
</div>
